<%- include('../partials/header.ejs'); %> 
<%- include('../partials/navbar.ejs'); %> 
<div class="container mt-5">
    <h1>Add New Profile Form</h1>
    <% if (typeof errors != "undefined") { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.msg %> </li>
                <% }) %>
            </ul>
        </div>
    <% } %>
    <div class="col-md-5">
        <form action="/profiles" method="post">
            <div class="mb-3">
                <label for="user_id" class="form-label">user_id</label>
                <input type="number" class="form-control" id="user_id" name="user_id" required min="1">
            </div>
            <div class="mb-3">
                <label for="user_country" class="form-label">user_country</label>
                <input type="text" class="form-control" id="user_country" name="user_country" required>
            </div>
            <div class="mb-3">
                <label for="user_rank" class="form-label">user_rank</label>
                <input type="text" class="form-control" id="user_rank" name="user_rank" required>
            </div>
            <div class="mb-3">
                <label for="gold_amount" class="form-label">gold_amount</label>
                <input type="number" class="form-control" id="gold_amount" name="gold_amount" required min="0">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<%- include('../partials/footer.ejs'); %> 