<%- include('../partials/header.ejs'); %> 
<%- include('../partials/navbar.ejs'); %> 
<div class="container mt-5">
    <h1>Update Profile Form</h1>
    <% if (typeof errors != "undefined") { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.msg %> </li>
                <% }) %>
            </ul>
        </div>
    <% } %>
    <div class="col-md-5">
        <form action="/profiles/<%= profile['id'] %>?_method=PUT" method="post">
            <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input type="number" class="form-control" id="id" name="id" value="<%= profile['id'] %>" disabled>
            </div>
            <div class="mb-3">
                <label for="user_id" class="form-label">user_id</label>
                <input type="number" class="form-control" id="user_id" name="user_id" value="<%= profile['user_id'] %>" disabled>
            </div>
            <div class="mb-3">
                <label for="user" class="form-label">user_country</label>
                <input type="text" class="form-control" id="user_country" name="user_country" value="<%= profile['user_country'] %>" required>
            </div>
            <div class="mb-3">
                <label for="user_rank" class="form-label">user_rank</label>
                <input type="text" class="form-control" id="user_rank" name="user_rank" value="<%= profile['user_rank'] %>" required>
            </div>
            <div class="mb-3">
                <label for="gold_amount" class="form-label">gold_amount</label>
                <input type="number" class="form-control" id="gold_amount" name="gold_amount" value="<%= profile['gold_amount'] %>" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<%- include('../partials/footer.ejs'); %> 