<%- include('../partials/header.ejs'); %> 
<%- include('../partials/navbar.ejs'); %> 
<div class="container mt-5">
    <h1 class="text-center">Histories Data</h1>

    <form action="/histories" method="get">
        <input type="number" class="me-3" id="page" name="page" placeholder="Input number of pages">
        <input type="number" class="me-3" id="row" name="row" placeholder="Input number of rows">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <a href="/histories/add" class="btn btn-primary mt-2" type="button">Add New History</a>
    <table class="table mt-3">
        <thead class="table-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">user_id</th>
                <th scope="col">match_duration_in_minutes</th>
                <th scope="col">match_score</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        <% for( let i = 0; i < histories.length; i++ ) { %>
            <tr>
                <th scope="row"><%= histories[i]['id'] %></th>
                <td><%= histories[i]['user_id'] %> </td>
                <td><%= histories[i]['match_duration_in_minutes'] %> </td>
                <td><%= histories[i]['match_score'] %> </td>
                <td class="d-flex">
                    <form action="/histories/<%= histories[i]['id']%>" method="get">
                        <button type="submit" class="btn btn-success mx-2 my-2">Detail</button>
                    </form>
                    <form action="/histories/<%= histories[i]['id']%>/update" method="get">
                        <button type="submit" class="btn btn-primary mx-2 my-2" >Update</button>
                    </form>
                    <form action="/histories/<%= histories[i]['id'] %>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-danger mx-2 my-2">Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <% for( let i = 0; i < pageCount; i++ ) { %>
                <li class="page-item"><a class="page-link" href="http://localhost:<%= port %>/histories?page=<%= i+1 %>&row=<%= row %>"><%= i+1 %></a></li>
            <% } %>
        </ul>
    </nav>
</div>
<%- include('../partials/footer.ejs'); %> 