<%- include('../partials/header.ejs'); %> 
<%- include('../partials/navbar.ejs'); %> 
<div class="container mt-5">
    <h1>Show User By Id</h1>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <%= user['id'] %> 
            </div>
            <div class="card-body">
                <ul>
                    <li><strong>username </strong>  : <%= user['username'] %>  </li>
                    <li><strong>password </strong>  : <%= user['password'] %>  </li>
                    <li><strong>email    </strong>  : <%= user['email'] %>  </li>
                    <li><strong>createdAt</strong>  : <%= user['createdAt'] %> </li>
                    <li><strong>updatedAt</strong>  : <%= user['updatedAt'] %> </li>
                </ul>
                <a href="/users" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs'); %> 